/* .cls-1,
.cls-3,
.cls-9 {
  fill: #e32526;
}

.cls-1,
.cls-10,
.cls-11,
.cls-14,
.cls-15,
.cls-3,
.cls-5 {
  stroke: #7a0806;
}

.cls-1,
.cls-10,
.cls-11,
.cls-12,
.cls-14,
.cls-15,
.cls-3,
.cls-4,
.cls-5,
.cls-8 {
  stroke-miterlimit: 10;
}

.cls-1,
.cls-15 {
  stroke-width: 4px;
}

.cls-2 {
  fill: #f5be7a;
}

.cls-10,
.cls-11,
.cls-3 {
  stroke-width: 5px;
}

.cls-10,
.cls-12,
.cls-15,
.cls-4,
.cls-8 {
  fill: none;
}

.cls-4,
.cls-8 {
  stroke: #81440e;
}

.cls-4 {
  stroke-width: 2px;
}

.cls-11,
.cls-14,
.cls-5 {
  fill: #fadf06;
}

.cls-5,
.cls-8 {
  stroke-width: 3px;
}

.cls-6 {
  fill: #7a0806;
}

.cls-7 {
  fill: #81440e;
}

.cls-12 {
  stroke: #000;
  stroke-width: 16px;
}

.cls-13 {
  clip-path: url(#clip-path);
}

.cls-16 {
  clip-path: url(#clip-path-2);
}

.cls-17 {
  clip-path: url(#clip-path-3);
} */